html{
	font-family: 'cwTeXHei', sans-serif;
	font-family: "futura-pt", "Helvetica Neue", Helvetica, Arial;

}
@font-face{font-family:futura-pt;src:url(https://use.typekit.net/af/e9d809/000000000000000000010091/27/l?subset_id=2&fvd=n7&v=3) format("woff2"),url(https://use.typekit.net/af/e9d809/000000000000000000010091/27/d?subset_id=2&fvd=n7&v=3) format("woff"),url(https://use.typekit.net/af/e9d809/000000000000000000010091/27/a?subset_id=2&fvd=n7&v=3) format("opentype");font-weight:700;font-style:normal;}@font-face{font-family:futura-pt;src:url(https://use.typekit.net/af/8906d7/000000000000000000010092/27/l?subset_id=2&fvd=i7&v=3) format("woff2"),url(https://use.typekit.net/af/8906d7/000000000000000000010092/27/d?subset_id=2&fvd=i7&v=3) format("woff"),url(https://use.typekit.net/af/8906d7/000000000000000000010092/27/a?subset_id=2&fvd=i7&v=3) format("opentype");font-weight:700;font-style:italic;}@font-face{font-family:futura-pt;src:url(https://use.typekit.net/af/3489f3/000000000000000000013365/27/l?subset_id=2&fvd=n4&v=3) format("woff2"),url(https://use.typekit.net/af/3489f3/000000000000000000013365/27/d?subset_id=2&fvd=n4&v=3) format("woff"),url(https://use.typekit.net/af/3489f3/000000000000000000013365/27/a?subset_id=2&fvd=n4&v=3) format("opentype");font-weight:400;font-style:normal;}@font-face{font-family:futura-pt;src:url(https://use.typekit.net/af/3ba171/000000000000000000010095/27/l?subset_id=2&fvd=i4&v=3) format("woff2"),url(https://use.typekit.net/af/3ba171/000000000000000000010095/27/d?subset_id=2&fvd=i4&v=3) format("woff"),url(https://use.typekit.net/af/3ba171/000000000000000000010095/27/a?subset_id=2&fvd=i4&v=3) format("opentype");font-weight:400;font-style:italic;}
*{
      padding: 0;
      margin: 0;
      list-style: none;
      text-decoration: none;
      font-size: 14px;
      font-weight: 200;
      /*outline: 1px solid red;*/

}
body{
	background: url(../graphicitem_html/bg4.png);
	text-align: center;
	
}

.header{
	position: fixed;
	width: 100%;
	top: 0;	
	z-index: 3;
	/*text-align: center;*/
	
}
.nav{
	position: fixed;
	right: 30px;
	
}

.nav li{
	display: inline-block;
	padding: 30px 15px;
}

.nav li a{
	color: #000;
	font-size: 17px;
	font-weight:normal;
	transition: 100ms;
}

.nav li a:hover{
	color:#ff6e35;
}

.title{
	position:absolute;
	margin-top: 20px;
	left: 0;
	z-index: 5;
	text-align: left;
}

.title p{
	font-weight: bold ;
	border-bottom: 4px solid #adadad;
	vertical-align: bottom;
	font-size: 25px;
	letter-spacing:12px;
	margin-left: 20px;
	color: #000;
	border-bottom: 4px solid #000;
}

.wrapper-about{
	position: relative;
	width: 100%;
	height:100%;
	margin:0 auto;
	margin-top: 90px;
	text-align: center;
	padding: 60px 0;


}
.cover{
	width: 400px;
	display: inline-block;
}
.cover img{
	
	width: 100%;
}
.intro{
	line-height: 1.6;
	color: #e0fc5f;
	display: inline-block;
	margin: 0 auto;
	text-align: left;
	margin-left: 30px ;
	vertical-align: top;
}
.intro p{
	font-size: 19px;
}
.intro h1{
	font-size: 25px;
	font-weight: bold;
}
.intro span{
	font-size: 22px;
	font-weight: bold;

}
.intro a{
	color: #e0fc5f;
	text-decoration: none;
	line-height: 1.6;
	font-size: 19px;
}
/*2017*/
.year{
	font-size: 17px;
	padding: 5px 5px;
	padding-right: 15px;
	font-weight: bolder;
	position: fixed;
	text-align: center;
	bottom: 20px;
	right: 0;
	z-index: 20;
	/*background-color: red;*/
	border-bottom:3px solid #000;
}
/*2017*/
footer{
	width: 100%;
	position:absolute;
	margin: 0 auto;
	bottom: 0;
	z-index: 30;
}
footer ul{
	display: inline-block;
	/*margin-bottom: 25px;*/
}
footer ul li{
	display: inline-block;	
	padding: 0 15px;
	font-size: 17px;
}
footer ul li a{
	font-size: 17px;
}
footer ul li i{
	color: #000;
}
footer p{
	margin:20px 0;
}

