html{
	font-family: 'cwTeXHei', sans-serif;
	font-family: "futura-pt", "Helvetica Neue", Helvetica, Arial;

}
@font-face{font-family:futura-pt;src:url(https://use.typekit.net/af/e9d809/000000000000000000010091/27/l?subset_id=2&fvd=n7&v=3) format("woff2"),url(https://use.typekit.net/af/e9d809/000000000000000000010091/27/d?subset_id=2&fvd=n7&v=3) format("woff"),url(https://use.typekit.net/af/e9d809/000000000000000000010091/27/a?subset_id=2&fvd=n7&v=3) format("opentype");font-weight:700;font-style:normal;}@font-face{font-family:futura-pt;src:url(https://use.typekit.net/af/8906d7/000000000000000000010092/27/l?subset_id=2&fvd=i7&v=3) format("woff2"),url(https://use.typekit.net/af/8906d7/000000000000000000010092/27/d?subset_id=2&fvd=i7&v=3) format("woff"),url(https://use.typekit.net/af/8906d7/000000000000000000010092/27/a?subset_id=2&fvd=i7&v=3) format("opentype");font-weight:700;font-style:italic;}@font-face{font-family:futura-pt;src:url(https://use.typekit.net/af/3489f3/000000000000000000013365/27/l?subset_id=2&fvd=n4&v=3) format("woff2"),url(https://use.typekit.net/af/3489f3/000000000000000000013365/27/d?subset_id=2&fvd=n4&v=3) format("woff"),url(https://use.typekit.net/af/3489f3/000000000000000000013365/27/a?subset_id=2&fvd=n4&v=3) format("opentype");font-weight:400;font-style:normal;}@font-face{font-family:futura-pt;src:url(https://use.typekit.net/af/3ba171/000000000000000000010095/27/l?subset_id=2&fvd=i4&v=3) format("woff2"),url(https://use.typekit.net/af/3ba171/000000000000000000010095/27/d?subset_id=2&fvd=i4&v=3) format("woff"),url(https://use.typekit.net/af/3ba171/000000000000000000010095/27/a?subset_id=2&fvd=i4&v=3) format("opentype");font-weight:400;font-style:italic;}
*{
      padding: 0;
      margin: 0;
      list-style: none;
      text-decoration: none;
      font-size: 14px;
      font-weight: 200;
      /*outline: 1px solid red;*/

}
body{
	text-align: center;
}

.header{
	position: fixed;
	width: 100%;
	top: 0;	
	z-index: 3;
	
}
.nav{
	position: fixed;
	right: 30px;
}

.nav li{
	display: inline-block;
	padding: 30px 15px;
}

.nav li a{
	color: #000;
	font-size: 17px;
	font-weight:normal;
	transition: 100ms;
}

.nav li a:hover{
	color:#ff6e35;
}


.title{
	position:absolute;
	margin-top: 20px;
	left: 0;
	z-index: 5;
	text-align: left;
	margin-left: 20px;
}

.title p{
	font-weight: bold ;
	border-bottom: 4px solid #adadad;
	vertical-align: bottom;
	font-size: 25px;
	letter-spacing:12px;
	color: #000;
	border-bottom: 4px solid #000;
}

.wrapper{
	background: url(../graphicitem_html/bg7.png);
	width: 90%;
	height:auto;
	margin:0 auto;
	margin-top: 90px;
	margin-bottom: 30px;
	text-align: center;
	padding-top: 60px;
	
}
.wrapper.few{
	padding-top: 0;
	padding: 100px 0;
}
.gallery{
	margin: 0 auto;
	width: 25%;
	display:inline-block;
	float: left;
	padding: 0 3%;
}

.gallery.left{
	padding-left: 6%;
}
.gallery.right{
	padding-right: 6%;
}

.gallery img{
	width: 100%;
	position: relative;
	vertical-align: bottom;
}
.clear{
	clear: both;
}
.item{
	display: block;
	position: relative;
	margin-bottom: 24%;
	width: 100%;
}
.wrapper.few .gallery .item{
	margin-bottom: 0%;
}

.item:after{
	content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    background:#fff;
    transition: 100ms;
}

.item:hover:after{
	opacity: 0.9;

}

h1{
    position: absolute;
    width: 100%;
    top:43%;
    text-align: center;
    color: #000;
    z-index: 2;
    display: none;
}
.web h1{
    top:38%;
}
.item span{
	font-size: 24px;
	font-weight:normal;
	line-height: 150%;
}
.item:hover h1{
	display: block;
	transition: 800ms;
	animation: slideInDown 0.5s 0.3s backwards;

}
@keyframes slideInDown {
  0% {
    transform: translate3d(0, -80%, 0);
    opacity: 0;
  }

  100%{
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.slideInDown {
  animation-name: slideInDown;
}
/*2017*/
.year{
	font-size: 17px;
	padding: 5px 5px;
	padding-right: 15px;
	font-weight: bolder;
	position: fixed;
	text-align: center;
	bottom: 20px;
	right: 0;
	z-index: 20;
	border-bottom:3px solid #000;
}
/*2017*/
footer{
	width: 100%;
	position:relative;
	margin: 0 auto;
	bottom: 0;
	z-index: 30;
}
footer ul{
	display: inline-block;
}
footer ul li{
	display: inline-block;	
	padding: 0 15px;
	font-size: 17px;
}
footer ul li a{
	font-size: 17px;
}
footer ul li i{
	color: #000;
}
footer p{
	margin:20px 0;
}

@media (max-width: 767px) {
}
@media (max-width: 480px) {
	.nav{
	position: static;
	}
	.nav li{
		padding: 10px 15px;
	}
	.title{
		display: inline-block;
		position:static;
		margin-left: 0;
		/*text-align: left;*/
	}
	.title p{
		letter-spacing: 9px;
	}
	.wrapper{
		width: 100%;
		margin-top: 110px;
		padding-top: 30px;
	}
	.wrapper.few{
	padding:0;
	padding-top: 30px;
}
	.gallery{
	
	width: 80%;
	padding: 0;
	float: none;
	}

	.gallery.left{
		padding-left: 0%;
	}
	.gallery.right{
		padding-right: 0%;
	}
	.item{
	margin-bottom: 10%;
}
	.wrapper.few .gallery .item{
	margin-bottom: 10%;
}


}

@media (min-width: 768px) and (max-width: 979px) {
}
@media (min-width: 980px) {
}
@media (min-width: 1200px) {
}

