html{
	font-family: 'cwTeXHei', sans-serif;
	font-family: "futura-pt", "Helvetica Neue", Helvetica, Arial;

}
@font-face{font-family:futura-pt;src:url(https://use.typekit.net/af/e9d809/000000000000000000010091/27/l?subset_id=2&fvd=n7&v=3) format("woff2"),url(https://use.typekit.net/af/e9d809/000000000000000000010091/27/d?subset_id=2&fvd=n7&v=3) format("woff"),url(https://use.typekit.net/af/e9d809/000000000000000000010091/27/a?subset_id=2&fvd=n7&v=3) format("opentype");font-weight:700;font-style:normal;}@font-face{font-family:futura-pt;src:url(https://use.typekit.net/af/8906d7/000000000000000000010092/27/l?subset_id=2&fvd=i7&v=3) format("woff2"),url(https://use.typekit.net/af/8906d7/000000000000000000010092/27/d?subset_id=2&fvd=i7&v=3) format("woff"),url(https://use.typekit.net/af/8906d7/000000000000000000010092/27/a?subset_id=2&fvd=i7&v=3) format("opentype");font-weight:700;font-style:italic;}@font-face{font-family:futura-pt;src:url(https://use.typekit.net/af/3489f3/000000000000000000013365/27/l?subset_id=2&fvd=n4&v=3) format("woff2"),url(https://use.typekit.net/af/3489f3/000000000000000000013365/27/d?subset_id=2&fvd=n4&v=3) format("woff"),url(https://use.typekit.net/af/3489f3/000000000000000000013365/27/a?subset_id=2&fvd=n4&v=3) format("opentype");font-weight:400;font-style:normal;}@font-face{font-family:futura-pt;src:url(https://use.typekit.net/af/3ba171/000000000000000000010095/27/l?subset_id=2&fvd=i4&v=3) format("woff2"),url(https://use.typekit.net/af/3ba171/000000000000000000010095/27/d?subset_id=2&fvd=i4&v=3) format("woff"),url(https://use.typekit.net/af/3ba171/000000000000000000010095/27/a?subset_id=2&fvd=i4&v=3) format("opentype");font-weight:400;font-style:italic;}
*{
      padding: 0;
      margin: 0;
      list-style: none;
      text-decoration: none;
      /*cursor: crosshair;*/
      font-size: 14px;
      font-weight: 200;
      /*outline: 1px solid red;*/

}

body, html {
    max-width: 100%;
    max-height: 100%;
}
body{

	text-align: center;
	/*background: url(../graphicitem_html/bg8.png);*/
}
.nav{
	position: fixed;
	right: 30px;
	
}

.nav li{
	display: inline-block;
	padding: 30px 15px;
}

.nav li a{
	color: #000;
	font-size: 17px;
	/*text-decoration: underline;*/
	font-weight:normal;
	transition: 100ms;
}

.nav li a:hover{
	color:#ff6e35;
}


.sub-nav{
	height: 312px;
	position:absolute;
	top:-45px;
	right:0;
	left:0;
	bottom:0;
	margin:auto;
	/*background-color: red;*/
	z-index: 10;
}

.sub-nav li{
	display: inline-block;
	margin:  0 20px;
	padding: 10px; /*
	border: 2px #000 solid;*/
	transition: 300ms;
}

.sub-nav .page:hover{
	transform: translateY(-7px);
	opacity: 0.6;
}

.sub-nav li img{
	width: 100px;
}
.sub-nav .logo img{
	
	padding-bottom: 20px;
	}
.sub-nav a{
	font-size: 14px;
	line-height: 2;
	color: #000;
	font-weight: normal;
	transition: 300ms;
}
/*2017*/

.year{
	position: fixed;
	bottom: 20px;
	right: 0;
	z-index: 20;
	font-size: 17px;
	padding: 5px 5px;
	padding-right: 15px;
	font-weight: bolder;
	text-align: center;
	border-bottom:3px solid #000;
}
/*2017*/
footer{
	width: 100%;
	position:fixed;
	text-align: left;
	bottom: 0;
	z-index: 20;
}

footer p{

	margin-left: 30px;
	margin-bottom: 20px;
}


@media (max-width: 480px) {
	.nav{
		position: static;
	}
	.sub-nav li{
	margin:  0;
	padding: 15px; 
	}


.sub-nav li img{
	width: 85px;
}
.sub-nav .logo{
	transform: translateX(-5px);
}
.sub-nav .logo img{
	width: 90px;
	padding-bottom: 10px;
	
	}





	}
